@font-face {
  font-family: "Marckscript";
  src:
    local("Marckscript-Regular"),
    url("@fonts/Marckscript/Marckscript-Regular.woff2") format("woff2"),
    url("@fonts/Marckscript/Marckscript-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}