@use "./reset.scss";
@use "./fonts.scss";

.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.label {
  position: absolute;
  background-color: #00000033;
  color: white;
  border-radius: 4px;
  padding: 12px 20px;
  z-index: 1;
  top: 0;
  left: 0;
  font-family: "MarckScript", cursive;
  font-size: 18px;
  font-weight: 400;
  opacity: 0;
  pointer-events: none;
  width: 250px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: opacity 0.3s ease;

  &_visible {
    opacity: 1;
  }
}

.preloader {
  &__text {
    font-family: "MarckScript", cursive;
    font-size: 38px;
    font-weight: 400;
    position: fixed;
    width: 100%;
    top: 40vh;
    text-align: center;
    color: white;
    z-index: 3;
    transition: opacity 0.2s ease;

    &_invisible {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__overlay {
    position: fixed;
    left: 0;
    width: 100vw;
    height: 50vh;
    background-color: black;
    z-index: 1;

    &_top,
    &_bottom {
      transition: transform 2s ease-in-out;
    }

    &_top {
      top: 0;
      transform: translateY(0);
      &_hidden {
        transform: translateY(-100%);
      }
    }

    &_bottom {
      bottom: 0;
      transform: translateY(0);

      &_hidden {
        transform: translateY(100%);
      }
    }
  }

  &__progress {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    transform-origin: left center;
    transform: scaleX(0);
    height: 4px;
    z-index: 2;
    background-color: white;
    transition: opacity 0.5s ease-out;

    &_invisible {
      opacity: 0;
      pointer-events: none;
    }
  }
}
