@use "./reset.scss";
@use "./fonts.scss";

.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.label {
  position: absolute;
  background-color: #00000033;
  color: white;
  border-radius: 4px;
  padding: 12px 20px;
  z-index: 1;
  top: 0;
  left: 0;
  font-family: "MarckScript", cursive;
  font-size: 18px;
  opacity: 0;
  pointer-events: none;
  width: 250px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &_visible {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  // background-color: black;
  display: none;
}
